*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow:hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: gray;
    color:#fff;
    border-bottom:red solid 3px;
}
.container{
    width:90%;
    margin:auto;
}
h1{
    float:left;
}
ul{
    float:right;
    margin-top:10px;
}
li{
    display:inline;
    float:left;
    margin:2px;
}
a{
    padding:20px 15px;
    text-decoration: none;
    background-color: indianred;
    border:black solid 3px;
}